<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<section>
    <div class="container">
        <h3 class="title">New Student Form</h3>
        <div class="form-group">
            <form action="/student/create" method="post">
				<!--<input type="hidden" name="id" th:value="${student.id}">-->
                <div class="form-control">
                    <label for="firstname">FirstName</label>
                    <input type="text" name="firstname" th:value="${student.firstname}" id="firstname" required>
                </div>
                <div class="form-control">
                    <label for="lastname">LastName</label>
                    <input type="text" name="lastname" th:value="${student.lastname}" id="lastname" required>
                </div>
                <div class="form-control">
                    <label for="fullname">FullName</label>
                    <input type="text" name="fullname" th:value="${student.fullname}" id="fullname" required>
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="email" th:value="${student.email}" id="email" required>
                </div>
                <div class="form-control">
                    <label for="year">Year</label>
                    <input type="text" name="year" id="year" required>
                </div>
                
                <div class="form-control">
                    <label for="major">Major</label>
                    <select name="major_id"> 
						<option th:each="major : ${majors}" th:value="${major.id}" th:text="${ major.name}"></option>
					</select>
                </div>
                
                <div class="action">
                    <button class="btn-create" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    </section>
</body>
</html>