<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h3 class="title">Major Information Table</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
						Action
					</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="major : ${majorList}"><!--th:each is same with end if for loop-->
                    <td th:text="${major.id}"></td>
                    <td th:text="${major.name}"></td>
                    <td th:text="${major.description}"></td>
                    <td><a th:href="@{'/update/'+${major.id}}">Edit</a></td>
                    <!--@ is location sign and this link is dynamic-->
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
						Action
					</th>
                </tr>
            </tfoot>
        </table>
    </div>
    
</body>
</html>